
<h1><%= @admin.name %>のページ</h1>

<p>名前: <%= @admin.name %></p>

<p>メールアドレス: <%= @admin.email %></p>

<%= link_to '編集する', edit_admin_path(@admin.id) %>
<%= link_to 'Index', users_path  %>
<%= link_to '管理ユーザーを新規登録する', new_admin_path  %>

