<h1>インポート設定(編集)</h1>
<br>
<h3>取得ボタンを見ながらカラムを割り振ると簡単に設定ができます。</h3>
<p>※元シートのカラム行を指定して参照し、自動で番号を振っています</p>
<p>もし元のカラム名とは別のカラム先に保存したい場合は、インポート設定を任意のものに割り振ってください</p>
<br>

<button id="fetch-data-btn" class="btn btn-primary">シートのカラムを取得</button>
<div id="data-container" class="mt-4 border p-3">
  <div class="row" id="counter-list">
    <!-- カウンター（数字）はここに追加されます -->
  </div>
  <div class="row" id="data-list">
    <!-- データはここに追加されます -->
  </div>
</div>

<script>
    $(document).ready(function() {
        $("#fetch-data-btn").on("click", function() {
            $.get("/sheets/fetch_spreadsheet_data", function(data) {
                let dataList = $("#data-list");
                dataList.empty();
                let counterList = $("#counter-list");
                counterList.empty();

                data.data.forEach(function(item, index) {
                    let listItem = $("<div>").addClass("col p-2 border").text(item);
                    dataList.append(listItem);

                    // カウンターの追加
                    let counterItem = $("<div>").addClass("col p-2 border text-center").text(index + 1);
                    counterList.append(counterItem);
                });
            });
        });
    });
</script>

<%= form_with(model: @sheet, local: true) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sheet.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @sheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <%= f.label :title %>
    <%= f.collection_select :sheet_id, Sheet.all, :id, :title %>
  </div>
  <hr>

  <!--  ネストされたインポート設定-->
  <table class="table" >
    <thead>
    <tr>
      <th>カラム番号</th>
      <th>インポート番号</th>
    </tr>
    </thead>
    <tbody>
    <%= f.fields_for :import_details do |detail_fields| %>
      <tr>
        <td>
          <%= detail_fields.label :"カラム番号" %><br>
          <%= detail_fields.select :sheet_column_number,(1..20).to_a, required: true, include_blank: true %>
        </td>
        <td>
          <%= detail_fields.label :"インポート設定" %><br>
          <%= detail_fields.select :selected_title, ImportDetail.selected_titles.keys.map { |key| [I18n.t("enums.import_detail.selected_title.#{key}"), key] }, { include_blank: '選択してください' } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>



  <%= f.submit "設定を登録", class: "btn btn-primary" %>
  <%= link_to "戻る", users_path, class: "btn btn-secondary" %>
<% end %>


