<h1>インポート設定</h1>

<h3>インポート設定には</h3>
<h3>カラム番号にはシート元のカラム番号を入れてください</h3>

<button id="fetch-data-btn">カラムを取得</button>
<div id="data-display-area"></div>

<script>
    $(document).ready(function() {
        $("#fetch-data-btn").on("click", function() {
            $.get("/sheets/fetch_spreadsheet_data", function(data) {
                let displayArea = $("#data-display-area");
                displayArea.empty();
                data.data.forEach(function(row) {
                    let para = $("<p>").text(row.join("| "));
                    displayArea.append(para);
                });
            });
        });
    });
</script>

<%= form_with(model: @sheet, local: true) do |f| %>
  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= @sheet.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @sheet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.collection_select :sheet_id, Sheet.all, :id, :title %>
  </div>

  <hr>
<!--ネストされたインポート設定-->
    <%= f.fields_for :import_details do |detail_fields| %>
      <div class="container">
        <div class="field">
          <%#= detail_fields.hidden_field :sheet_column_number, value: detail_fields.index + 1 %>
          <%= detail_fields.label :"カラム番号" %><br>
          <%= detail_fields.select :sheet_column_number,(1..20).to_a, required: true, include_blank: true %>
        </div>
        <div class="field" >
          <%= detail_fields.label :"インポート設定" %><br>
          <%= detail_fields.select :selected_title, ImportDetail.selected_titles.keys.map { |key| [I18n.t("enums.import_detail.selected_title.#{key}"), key] },
                                   { include_blank: '選択してください' } %>
        </div>
      </div>
    <br>
    <% end %>
  <%= f.submit "設定を登録" %>
<% end %>

<%= link_to "戻る", users_path %>