<h1>インポート参照</h1>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <strong>シート名:</strong> <%= @sheet.title %>
    </div>
    <div class="col-md-6">
      <strong>シート番号:</strong> <%= @sheet.code %>
    </div>
  </div>
  <button id="fetch-data-btn" class="btn btn-outline-primary">シートのカラムを取得</button>
  <div id="data-container" class="mt-4 border p-3">
    <div class="row" id="counter-list">
      <!-- カウンター（数字）はここに追加されます -->
    </div>
    <div class="row" id="data-list">
      <!-- データはここに追加されます -->
    </div>
  </div>
  <script>
      $(document).ready(function() {
          $("#fetch-data-btn").on("click", function() {
              $.get("/sheets/fetch_spreadsheet_data", function(data) {
                  let dataList = $("#data-list");
                  dataList.empty();
                  let counterList = $("#counter-list");
                  counterList.empty();

                  data.data.forEach(function(item, index) {
                      let listItem = $("<div>").addClass("col p-2 border").text(item);
                      dataList.append(listItem);

                      // カウンターの追加
                      let counterItem = $("<div>").addClass("col p-2 border text-center").text(index + 1);
                      counterList.append(counterItem);
                  });
              });
          });
      });
  </script>
  <hr>
  <p >以下の内容でインポートします</p>
  <% @sheet.import_details.each do |import_detail| %>
    <% unless import_detail.selected_title.nil? && import_detail.sheet_column_number.nil? %>
      <div class="card mt-3">
        <div class="card-body">
          <ul>
            <li>
              <strong>カラム番号:</strong> <%= import_detail.sheet_column_number %>
            </li>
            <li>
              <strong>インポート設定:</strong> <%= import_detail.selected_title %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<div class="mt-4 d-flex justify-content-between">
  <%= link_to "設定し直す", edit_sheet_path(@sheet), class: "btn btn-primary" %>
  <%= button_to 'インポート実行', import_exec_sheet_path(@sheet), method: :post, data: { confirm: '実行してもよろしいですか？' }, class: "btn btn-danger" %>
</div>

