<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>件のエラーがあります。</h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="user_name">
    <%= f.label :顧客名 %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :TEL %>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :備考 %>
    <%= f.text_field :note %>
  </div>
  <div class="field">
    <%= f.label :管理者メモ %>
    <%= f.text_field :admin_note %>
  </div>

  <%= f.submit "保存" %>
<% end %>