<h1>顧客マスタ一覧</h1>

<%= link_to 'インポート設定', new_sheet_path  %>
<%= button_to 'エクスポートを実行する', export_to_google_sheets_users_path, method: :post, data: { confirm: "本当にエクスポートしますか？" }  %>

<h3>ユーザー検索</h3>
  <%= search_form_for @q, url: users_path do |f| %>
    <%= f.label :name_or_email_or_phone_or_note_or_admin_note_cont, 'キーワード' %>
    <%= f.search_field :name_or_email_or_phone_or_note_or_admin_note_cont %>

    <%= f.label :status_id_eq, 'ステータス' %>
    <%= f.select :status_id_eq, Status.all.map { |status| [status.name, status.id] }, { include_blank: true } %>
  <br>
    <%= f.submit '検索' %>
    <%= link_to 'クリア', users_path %>
  <% end %>

<hr>
<%= link_to '新規顧客作成', new_user_path  %>
<table class="table table-striped">
  <thead>
  <tr>
    <th><%= sort_link(@q, :name, '顧客名') %></th>
    <th>email</th>
    <th>TEL</th>
    <th> <%= sort_link(@q, :status_id, 'ステータス') %></th>
    <th>備考</th>
    <th>管理者メモ</th>
    <th><%= sort_link(@q, :created_at, '作成日') %> |</th>
    <th>更新日</th>
    <th>option1</th>
    <th>option2</th>
    <th>option3</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user|%>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %>
      <td><%= user.phone %></td>
      <td><%= user.status.name %></td>
      <td><%= user.note %></td>
      <td><%= user.admin_note %></td>
      <td><%= user.created_at.strftime("%Y-%m-%d") %></td>
      <td><%= link_to "詳細", user %></td>
      <td><%= link_to "編集", edit_user_path(user) %></td>
      <td><%= button_to "削除", user, method: :delete,
                        data: { turbo_confirm: "本当に削除しますか？" } %></td>
    </tr>
  <% end %>
  </table>


