

<div class="container mt-4">
  <h1 class="mb-4">顧客詳細情報</h1>

  <table class="table">
    <tbody>
    <tr>
      <th>名前</th>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <th>メールアドレス</th>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <th>TEL</th>
      <td><%= @user.phone %></td>
    </tr>
    <tr>
      <th>ステータス</th>
      <td><%= @user.status_id %></td>
    </tr>
    <tr>
      <th>備考</th>
      <td><%= @user.note %></td>
    </tr>
    <tr>
      <th>管理者メモ</th>
      <td><%= @user.admin_note %></td>
    </tr>
    </tbody>
  </table>

  <%= link_to '編集する', edit_user_path(@user.id), class: 'btn btn-primary' %>
  <%= link_to '一覧に戻る', users_path, class: 'btn btn-secondary' %>
</div>
