<h1>顧客詳細情報</h1>

<p>名前: <%= @user.name %></p>

<p>メールアドレス: <%= @user.email %></p>

<p>TEL: <%= @user.phone %></p>
<p>備考: <%= @user.note %></p>
<p>管理者メモ: <%= @user.admin_note %></p>

<%= link_to '編集する', edit_user_path(@user.id) %>
<%= link_to 'Index', users_path  %>